<h1>Random Picker</h1>

<p>Are you having trouble to decide on what to choose?</p>
<p>Just type in a list of items you want to choose from, and this app will decide for you</p>
<em>NOTE: make sure to separate the items by a comma</em>
<form action="/random" method="get">
    <div>
        <textarea name="items" cols="30" rows="1"></textarea>
    </div>
    <div>
        <button type="submit">add items</button>
    </div>
</form>